<div class="bubble-chart-wrapper">
    <div class="bubble-controls">
        <label for="bubble-main-phase">Phase:</label>
        <select id="bubble-main-phase"></select>

        <label id="detail-label" style="display: none;">Détail:</label>
        <select id="bubble-detail-phase" style="display: none;"></select>
        
        <br/>
        
        <label for="bubble-x">Team 1 (Axe X):</label>
        <select id="bubble-x"></select>
        
        <label for="bubble-y">Team 2 (Axe Y):</label>
        <select id="bubble-y"></select>
    </div>
</div>